h1,h2,h3,address{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
table{ 
    width: 50%; /* Set a width for the table */ 
    margin: 0 auto; /* Center the table horizontally */ 
    border-collapse: collapse; /* Optional: for better styling */ 
}   
div{ 
    width: 100%;  
    margin: 0 auto; 
    border-collapse: collapse; 
    background-color: rgb(255, 255, 255);
}     
.qualifications{
    width: 100%;  
    margin: 0 auto; 
    border-collapse: collapse;
    padding-left: 0px;
  
} 
p,tr{
    color: rgba(77, 77, 77);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
      width: 70%;  
    margin: 0 auto; 
    border-collapse: collapse;
    padding-left: 0px; 
}

li{
    color: rgba(77, 77, 77);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    vertical-align: text-top;
    list-style-position: inside;
    
}
ul{
    margin: 0;
    padding: 0px;
}
span{
    color: brown;
}

#footer{
       width: 100%;  
    background-color: rgb(210, 210, 210);
}
body{
    background-image: url(/Week2/images/forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}